<p id="notice"><%= notice %></p>

  <div class="box">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Authors</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Name</th><th>Category</th>
          </tr>
            <tr>
              <td>Chad Lind V</td>
              <td>Historical fiction</td>
              <td><a href="/authors/1">Show</a></td>
              <td><a href="/authors/1/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/1">Destroy</a></td>
            </tr>
            <tr>
              <td>Gracie Volkman</td>
              <td>Fairy tale</td>
              <td><a href="/authors/2">Show</a></td>
              <td><a href="/authors/2/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/2">Destroy</a></td>
            </tr>
            <tr>
              <td>Byron Ledner</td>
              <td>Comic/Graphic Novel</td>
              <td><a href="/authors/3">Show</a></td>
              <td><a href="/authors/3/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/3">Destroy</a></td>
            </tr>
            <tr>
              <td>Vanessa Koelpin</td>
              <td>Comic/Graphic Novel</td>
              <td><a href="/authors/4">Show</a></td>
              <td><a href="/authors/4/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/4">Destroy</a></td>
            </tr>
            <tr>
              <td>Athena Nitzsche Sr.</td>
              <td>Historical fiction</td>
              <td><a href="/authors/5">Show</a></td>
              <td><a href="/authors/5/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/5">Destroy</a></td>
            </tr>
            <tr>
              <td>Maryjane Stamm</td>
              <td>Folklore</td>
              <td><a href="/authors/6">Show</a></td>
              <td><a href="/authors/6/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/6">Destroy</a></td>
            </tr>
            <tr>
              <td>Mrs. Apolonia Bernhard</td>
              <td>Speech</td>
              <td><a href="/authors/7">Show</a></td>
              <td><a href="/authors/7/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/7">Destroy</a></td>
            </tr>
            <tr>
              <td>Nicholas Kerluke</td>
              <td>Speech</td>
              <td><a href="/authors/8">Show</a></td>
              <td><a href="/authors/8/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/8">Destroy</a></td>
            </tr>
            <tr>
              <td>Miss Ivana Jacobi</td>
              <td>Science fiction</td>
              <td><a href="/authors/9">Show</a></td>
              <td><a href="/authors/9/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/9">Destroy</a></td>
            </tr>
            <tr>
              <td>Gavin Haley</td>
              <td>Science fiction</td>
              <td><a href="/authors/10">Show</a></td>
              <td><a href="/authors/10/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/authors/10">Destroy</a></td>
            </tr>
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div>
    <a class="btn btn-primary" style="color: white;" href="/authors/new">New Author</a>
  </div>


