<p id="notice"><%= notice %></p>

<div class="box">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Clients</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Name</th><th>Telephone</th><th>CPF</th>
          </tr>
            <tr>
              <td>Antonio Boyle Morar</td>
              <td>500-926-4350</td>
              <td>55219781667</td>
              <td><a href="/clients/1">Show</a></td>
              <td><a href="/clients/1/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/1">Destroy</a></td>
            </tr>
            <tr>
              <td>Mrs. Cristobal Predovic Abbott</td>
              <td>215-904-1516</td>
              <td>19020926423</td>
              <td><a href="/clients/2">Show</a></td>
              <td><a href="/clients/2/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/2">Destroy</a></td>
            </tr>
            <tr>
              <td>Ned Lowe Von</td>
              <td>(654) 176-8903</td>
              <td>25374100844</td>
              <td><a href="/clients/3">Show</a></td>
              <td><a href="/clients/3/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/3">Destroy</a></td>
            </tr>
            <tr>
              <td>Miss Sylvia Lesch Hauck</td>
              <td>1-384-363-3316</td>
              <td>37922100119</td>
              <td><a href="/clients/4">Show</a></td>
              <td><a href="/clients/4/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/4">Destroy</a></td>
            </tr>
            <tr>
              <td>Almeda Weber Bradtke</td>
              <td>361.691.1130</td>
              <td>24955602360</td>
              <td><a href="/clients/5">Show</a></td>
              <td><a href="/clients/5/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/5">Destroy</a></td>
            </tr>
            <tr>
              <td>Wilber Collier Stark</td>
              <td>744.420.9834</td>
              <td>29695322608</td>
              <td><a href="/clients/6">Show</a></td>
              <td><a href="/clients/6/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/6">Destroy</a></td>
            </tr>
            <tr>
              <td>Darwin Denesik Emard</td>
              <td>684-521-0072</td>
              <td>42642051605</td>
              <td><a href="/clients/7">Show</a></td>
              <td><a href="/clients/7/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/7">Destroy</a></td>
            </tr>
            <tr>
              <td>Kristopher Mraz Mertz</td>
              <td>(192) 346-6313</td>
              <td>86190535457</td>
              <td><a href="/clients/8">Show</a></td>
              <td><a href="/clients/8/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/8">Destroy</a></td>
            </tr>
            <tr>
              <td>Miss Imelda Hermann Lockman</td>
              <td>1-591-139-6665</td>
              <td>78712584569</td>
              <td><a href="/clients/9">Show</a></td>
              <td><a href="/clients/9/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/9">Destroy</a></td>
            </tr>
            <tr>
              <td>Josue Upton Little</td>
              <td>885-980-8324</td>
              <td>47231519813</td>
              <td><a href="/clients/10">Show</a></td>
              <td><a href="/clients/10/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/clients/10">Destroy</a></td>
            </tr>
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div>
    <a class="btn btn-primary" style="color: white;" href="/clients/new">New Client</a>
  </div>
