<h1>Seja bem vindo à Biblioteca</h1>

<h4>A Biblioteca do Ju foi criada pelo Sr.Juvenal em 1955 na cidade de Constatinopla. Você, 
    bibliotecário, poderá, por meio deste sistema, ter o controle de todos os livros, 
    autores, categorias, clientes cadastrados, as reservas ativas e os bibliotecários cadastrados. 
    Como também, poderá fazer novos cadastrados, edições e exclusões em todas elas. Bom trabalho!</h4>