<p id="notice"><%= notice %></p>

  <div class="box">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Books</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Title</th><th>Stock</th><th>Author</th><th>Category</th><th>Year</th>
          </tr>
            <tr>
              <td>Number the Stars</td>
              <td>98</td>
              <td>Nicholas Kerluke</td>
              <td>Tall tale</td>
              <td>1335</td>
              <td><a href="/books/1">Show</a></td>
              <td><a href="/books/1/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/1">Destroy</a></td>
            </tr>
            <tr>
              <td>Edna OBrien</td>
              <td>49</td>
              <td>Miss Ivana Jacobi</td>
              <td>Folklore</td>
              <td>1976</td>
              <td><a href="/books/2">Show</a></td>
              <td><a href="/books/2/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/2">Destroy</a></td>
            </tr>
            <tr>
              <td>Death Be Not Proud</td>
              <td>62</td>
              <td>Maryjane Stamm</td>
              <td>Humor</td>
              <td>1977</td> 
              <td><a href="/books/3">Show</a></td>
              <td><a href="/books/3/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/3">Destroy</a></td>
            </tr>
            <tr>
              <td>The Winds Twelve Quarters</td>
              <td>21</td>
              <td>Maryjane Stamm</td>
              <td>Historical fiction</td>
              <td>1358</td> 
              <td><a href="/books/4">Show</a></td>
              <td><a href="/books/4/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/4">Destroy</a></td>
            </tr>
            <tr>
              <td>Shall not Perish</td>
              <td>65</td>
              <td>Vanessa Koelpin</td>
              <td>Humor</td>
              <td>1563</td> 
              <td><a href="/books/5">Show</a></td>
              <td><a href="/books/5/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/5">Destroy</a></td>
            </tr>
            <tr>
              <td>Tirra Lirra by the River</td>
              <td>16</td>
              <td>Maryjane Stamm</td>
              <td>Tall tale</td>
              <td>1682</td> 
              <td><a href="/books/6">Show</a></td>
              <td><a href="/books/6/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/6">Destroy</a></td>
            </tr>
            <tr>
              <td>Bloods a Rover</td>
              <td>68</td>
              <td>Mrs. Apolonia Bernhard</td>
              <td>Humor</td>
              <td>1566</td> 
              <td><a href="/books/7">Show</a></td>
              <td><a href="/books/7/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/7">Destroy</a></td>
            </tr>
            <tr>
              <td>All the Kings Men</td>
              <td>52</td>
              <td>Gracie Volkman</td>
              <td>Fairy tale</td>
              <td>1815</td> 
              <td><a href="/books/8">Show</a></td>
              <td><a href="/books/8/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/8">Destroy</a></td>
            </tr>
            <tr>
              <td>The Wings of the Dove</td>
              <td>63</td>
              <td>Chad Lind V</td>
              <td>Tall tale</td>
              <td>1850</td> 
              <td><a href="/books/9">Show</a></td>
              <td><a href="/books/9/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/9">Destroy</a></td>
            </tr>
            <tr>
              <td>A Handful of Dust</td>
              <td>87</td>
              <td>Athena Nitzsche Sr.</td>
              <td>Historical fiction</td>
              <td>1661</td> 
              <td><a href="/books/10">Show</a></td>
              <td><a href="/books/10/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/10">Destroy</a></td>
            </tr>
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div>
    <a class="btn btn-primary" style="color: white;" href="/books/new">New Book</a>
  </div>


