<p id="notice"><%= notice %></p>

<div class="box">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Reservations</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Client</th><th>Book</th><th>Librarian</th>
          </tr>
            <tr>
              <td>Antonio Boyle Morar</td>
              <td>The Wings of the Dove</td>
              <td>Star Hessel V</td>
              <td><a href="/reservations/1">Show</a></td>
              <td><a href="/reservations/1/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/1">Destroy</a></td>
            </tr>
            <tr>
              <td>Mrs. Cristobal Predovic Abbott</td>
              <td>Bloods a Rover</td>
              <td>Taylor Kertzmann</td>
              <td><a href="/reservations/2">Show</a></td>
              <td><a href="/reservations/2/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/2">Destroy</a></td>
            </tr>
            <tr>
              <td>Ned Lowe Von</td>
              <td>The Winds Twelve Quarters</td>
              <td>Miss Evan Bogisich</td>
              <td><a href="/reservations/3">Show</a></td>
              <td><a href="/reservations/3/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/3">Destroy</a></td>
            </tr>
            <tr>
              <td>Miss Sylvia Lesch Hauck</td>
              <td>Edna OBrien</td>
              <td>Ute Hintz</td>
              <td><a href="/reservations/4">Show</a></td>
              <td><a href="/reservations/4/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/4">Destroy</a></td>
            </tr>
            <tr>
              <td>Almeda Weber Bradtke</td>
              <td>Shall not Perish</td>
              <td>Star Hessel V</td>
              <td><a href="/reservations/5">Show</a></td>
              <td><a href="/reservations/5/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/5">Destroy</a></td>
            </tr>
            <tr>
              <td>Wilber Collier Stark</td>
              <td>Tirra Lirra by the River</td>
              <td>Miss Evan Bogisich</td>
              <td><a href="/reservations/6">Show</a></td>
              <td><a href="/reservations/6/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/6">Destroy</a></td>
            </tr>
            <tr>
              <td>Darwin Denesik Emard</td>
              <td>All the Kings Men</td>
              <td>Dana Larson</td>
              <td><a href="/reservations/7">Show</a></td>
              <td><a href="/reservations/7/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservationsreservations/7">Destroy</a></td>
            </tr>
            <tr>
              <td>Kristopher Mraz Mertz</td>
              <td>Death Be Not Proud</td>
              <td>Taylor Kertzmann</td>
              <td><a href="/reservations/8">Show</a></td>
              <td><a href="/reservations/8/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/8">Destroy</a></td>
            </tr>
            <tr>
              <td>Miss Imelda Hermann Lockman</td>
              <td>Tirra Lirra by the River</td>
              <td>Rigoberto Jacobi</td>
              <td><a href="/reservations/9">Show</a></td>
              <td><a href="/reservations/9/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/9">Destroy</a></td>
            </tr>
            <tr>
              <td>Josue Upton Little</td>
              <td>All the Kings Men</td>
              <td>Shin Schimmel</td>
              <td><a href="/reservations/10">Show</a></td>
              <td><a href="/reservations/10/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/reservations/10">Destroy</a></td>
            </tr>
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div>
    <a class="btn btn-primary" style="color: white;" href="/reservations/new">New Reservation</a>
  </div>
