<p id="notice"><%= notice %></p>

<div class="box">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Category</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Description</th>
          </tr>
            <tr>
              <td>Speech</td>
              <td><a href="/categories/1">Show</a></td>
              <td><a href="/categories/1/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/1">Destroy</a></td>
            </tr>
            <tr>
              <td>Historical fiction</td>
              <td><a href="/categories/2">Show</a></td>
              <td><a href="/categories/2/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/2">Destroy</a></td>
            </tr>
            <tr>
              <td>Humor</td>
              <td><a href="/categories/3">Show</a></td>
              <td><a href="/categories/3/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/3">Destroy</a></td>
            </tr>
            <tr>
              <td>Tall tale</td>
              <td><a href="/categories/4">Show</a></td>
              <td><a href="/categories/4/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/4">Destroy</a></td>
            </tr>
            <tr>
              <td>Science fiction</td>
              <td><a href="/categories/5">Show</a></td>
              <td><a href="/categories/5/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/5">Destroy</a></td>
            </tr>
            <tr>
              <td>Tirra Lirra by the River</td>
              <td><a href="/categories/6">Show</a></td>
              <td><a href="/categories/6/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/6">Destroy</a></td>
            </tr>
            <tr>
              <td>Folklore</td>
              <td><a href="/categories/7">Show</a></td>
              <td><a href="/categories/7/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/7">Destroy</a></td>
            </tr>
            <tr>
              <td>Folklore</td>
              <td><a href="/categories/8">Show</a></td>
              <td><a href="/categories/8/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/8">Destroy</a></td>
            </tr>
            <tr>
              <td>Comic/Graphic Novel</td>
              <td><a href="/categories/9">Show</a></td>
              <td><a href="/categories/9/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/9">Destroy</a></td>
            </tr>
            <tr>
              <td>Tall tale</td>
              <td><a href="/categories/10">Show</a></td>
              <td><a href="/categories/10/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/categories/10">Destroy</a></td>
            </tr>
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div>
    <a class="btn btn-primary" style="color: white;" href="/categories/new">New Category</a>
  </div>
