<p id="notice"><%= notice %></p>

<div class="box">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Librarians</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Name</th><th>Email</th>
          </tr>
            <tr>
              <td>Taylor Kertzmann</td>
              <td>mikki@ebert.ion</td>
              <td><a href="/librarians/1">Show</a></td>
              <td><a href="/librarians/1/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/1">Destroy</a></td>
            </tr>
            <tr>
              <td>Star Hessel V</td>
              <td>otis_lindgren@bins.org</td>
              <td><a href="/librarians/2">Show</a></td>
              <td><a href="/librarians/2/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/2">Destroy</a></td>
            </tr>
            <tr>
              <td>Ute Hintz</td>
              <td>chelsea.schimmel@reynolds.net</td>
              <td><a href="/librarians/3">Show</a></td>
              <td><a href="/librarians/3/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/3">Destroy</a></td>
            </tr>
            <tr>
              <td>Ligia Bode</td>
              <td>vincenzo.gulgowski@champlin.name</td>
              <td><a href="/librarians/4">Show</a></td>
              <td><a href="/librarians/4/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/4">Destroy</a></td>
            </tr>
            <tr>
              <td>Dana Larson</td>
              <td>susanna@will-swaniawski.net</td>
              <td><a href="/librarians/5">Show</a></td>
              <td><a href="/librarians/5/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/5">Destroy</a></td>
            </tr>
            <tr>
              <td>Shin Schimmel</td>
              <td>brian.oreilly@quigley-ritchie.info</td>
              <td><a href="/librarians/6">Show</a></td>
              <td><a href="/librarians/6/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/6">Destroy</a></td>
            </tr>
            <tr>
              <td>Ms. Nolan Boyle</td>
              <td>alisia.muller@harvey.org</td>
              <td><a href="/librarians/7">Show</a></td>
              <td><a href="/librarians/7/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/7">Destroy</a></td>
            </tr>
            <tr>
              <td>Miss Evan Bogisich</td>
              <td>gale@johnson.io</td>
              <td><a href="/librarians/8">Show</a></td>
              <td><a href="/librarians/8/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/8">Destroy</a></td>
            </tr>
            <tr>
              <td>Rigoberto Jacobi</td>
              <td>otto.nader@herzog.info</td>
              <td><a href="/librarians/9">Show</a></td>
              <td><a href="/librarians/9/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/9">Destroy</a></td>
            </tr>
            <tr>
              <td>Jenine Kuhn</td>
              <td>dennis@langosh-schneider.name</td>
              <td><a href="/librarians/10">Show</a></td>
              <td><a href="/librarians/10/edit">Edit</a></td>
              <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/librarians/10">Destroy</a></td>
            </tr>
        </tbody></table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div>
    <a class="btn btn-primary" style="color: white" href="/librarians/new">New Category</a>
  </div>
