<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
  
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      
        <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="categories"> <span>Categories</span></a></li>
      <li><a href="librarians"> <span>Librarians</span></a></li>
      <li class="treeview">
        <a href="authors"> <span>Authors</span>
      <li><a href="books"> <span>Books</span></a></li>
      <li><a href="clients"> <span>Clients</span></a></li>
      <li><a href="reservations"> <span>Reservations</span></a></li>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
